/*公共样式*/
* {
      margin:0;padding:0; /*设置外边距和内边距为零，有需要自己另外加*/
}
body {
    color:#333; /*设置整体字体颜色一般网页用：333、666、999*/
    font:12px "Microsfot YaHei";/*网页字体一般用12号字体*/
}
a {
    color:#333;/*设置字体颜色*/
    text-decoration:none; /*取消 a 元素自带下划线*/
}
    a:hover {
        color: #E4393C;/*设置字体颜色*/
        text-decoration: underline;/*恢复 a 元素自带下划线*/
        cursor:pointer;/*设置鼠标手势*/
}
ul {
    list-style:none;/*取消 ul 列表自带的样式*/
}
i, b {
    /* i,b 是行内元素 好处是：它可以跟其它元素在一行显示*/
    display:inline-block;/*插入背景图要高度和宽度所以设置为行内块*/
    vertical-align:middle;/*左边图标跟右边文本一起在一条水平线上*/
}
i {
    background:url();/*提前设置照片，用的时候根据所需的图标位置挪动*/
}
input, button {
    outline:none;/*去除元素轮廓*/
}
.container {
    width: 1366px;/*设置网页宽度*/
    margin: auto;/*让元素块居中*/
}
.clearFloat:after {/*清除子元素浮动对父元素的影响*/
    content:"";/*内容为空*/
    display:block;/*让它显示为块*/
    clear:both;/**/
}
.lf {
    float:left;/*左边浮动*/
}
.rf {
    float:right;/*右边浮动*/
}

