/*公共样式*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    min-width: 1226px;
}

ul {
    list-style: none;
}



i {
    cursor: pointer;
}

input, button {
    outline: none;
}

.container {
    width: 1226px;
    margin: auto;
}
/*头部*/
.header .container {
    height: 100px;
    overflow: hidden;
    zoom: 1;
}
.header .h_hr {
    height: 1px;
    border-bottom: 2px solid #ff6700;
}
    .header .container .h_c_left {
        float: left;
        width:50%;
        height: 100px;
        line-height:100px;
    }
    .header .container .h_c_right {
        float:right;
        width:48%;
        height: 100px;
        line-height:100px;
    }
    .header .container .h_c_left .logo {
        margin-top:26px;
        margin-right:46px;
        float:left;
        display: block;
        font-size: 30px;
        color: #fff;
        text-align: center;
        width: 48px;
        height: 49px;
        line-height:50px;
        background-color: #ff6700;   
    }

        .header .container .h_c_left .logo .iconfont {
            font-size: 32px;
            color: #fff;
            -moz-user-select: none;
            -webkit-user-select: none;
        }
    .header .container .h_c_left .meShopCart {
        font-size: 28px;
        color:#333;
    }
    .header .container .h_c_left .message {
        margin-left:10px;
        font-size: 12px;
        color: #444;
    }

    .header .container .h_c_right .ul_list {
        float: right;
    }
        .header .container .h_c_right .ul_list li {
            float: left;
        }
            .header .container .h_c_right .ul_list li a {
                font-size: 16px;
                color: #333;
            }
            .header .container .h_c_right .ul_list li span {
               margin:0px 10px;
                color: #b0b0b0;
            }
         /*我的购物车*/
.ShopCart {
    background-color: #F5F5F5;
}
    .ShopCart .container .top {
        padding-top:36px;
        margin-bottom:4px;
        height: 80px;
        line-height:80px;
    }
    .ShopCart .container .middle {
        margin-bottom: 20px;
    }

 .ShopCart .container .bottom {
    line-height:50px;
    height: 50px;
    background-color:#FFFFFF;
}

    .ShopCart .container .top .ul_list li {
        float: left;
        font-family:KaiTi;
        width: 160px;
        text-align: center;
        font-size: 26px;
        background-color:#FFFFFF;
    }
    .ShopCart .container .top .ul_list .selAll {
        width: 132px;
    }
    .ShopCart .container .top .ul_list .shopName {
        width: 448px;
    }
    .ShopCart .container .top .ul_list .shuliang {
        width: 174px;
    }
    .ShopCart .container .top .ul_list .xiaoji {
        width: 164px;
    }
    .ShopCart .container .top .ul_list .caozuo {
        width: 146px;
    }
    .ShopCart .container .top .ul_list .selAll .iconfont {
        display: inline-block;
        line-height: 29px;
        padding-bottom: 5px;
        margin-right: 8px;
        width: 29px;
        height: 25px;
        border: 1px solid #b0b0b0;
        font-size: 30px;
        font-weight: 900;
        color: transparent;
        -moz-user-select: none;
    }

/*商品项*/
    .ShopCart .container .middle .shopitem {
        line-height: 122px;
        margin-bottom:6px;
        overflow:hidden;
        zoom:1;
    }
        .ShopCart .container .middle .shopitem .ul_list li {
            float: left;
            font-size: 22px;
            font-family: KaiTi;
            color:#222;
            width: 120px;
            text-align: center;
            background-color:#FFFFFF;
        }
        .ShopCart .container .middle .shopitem .ul_list .sel {
            width:132px;
            text-align: left;
        }
        .ShopCart .container .middle .shopitem .ul_list .shopName {
            text-align: left;
            width: 448px;
            height: 122px;
        }
        .ShopCart .container .middle .shopitem .ul_list .danjia {
            width: 160px;
        }
        .ShopCart .container .middle .shopitem .ul_list .shuliang {
            width: 174px;
            height: 122px;
        }
        .ShopCart .container .middle .shopitem .ul_list .xiaoji {
            width: 164px;
            color: #FF6700;
        }
        .ShopCart .container .middle .shopitem .ul_list .caozuo {
            width: 146px;
            height: 122px;
        }
            .ShopCart .container .middle .shopitem .ul_list .caozuo .iconfont {
                width: 146px;
                -moz-user-select: none;
            }
        .ShopCart .container .middle .shopitem .ul_list .shopDelete {
            margin-right: 0px;
        }
        .ShopCart .container .middle .shopitem .ul_list .sel .iconfont {
            display: inline-block;
            line-height: 29px;
            padding-bottom: 5px;
            margin-left: 20px;
            margin-right: 8px;
            width: 29px;
            height: 25px;
            border: 1px solid #b0b0b0;
            font-size: 30px;
            font-weight: 900;
            color: transparent;
            -moz-user-select: none;
        }
            .ShopCart .container .middle .shopitem .ul_list .shopName .img {
                float: left;
                display: inline-block;
                width: 134px;
                height: 120px;
                background-size: 80px;
            }
                .ShopCart .container .middle .shopitem .ul_list .shopName .img > img {
                    margin-left:24px;
                   vertical-align:middle;
                }
            .ShopCart .container .middle .shopitem .ul_list .shopName .name {
                float: right;
                display: inline-block;
                width: 310px;
                height:120px;
            }
        .ShopCart .container .middle .shopitem .ul_list .shuliang .count_container {
            position: relative;
            top: 40px;
            border: 1px solid #e0e0e0;
            height: 40px;
            line-height: 40px;
        }
            .ShopCart .container .middle .shopitem .ul_list .shuliang .count_container .iconfont {
                font-size: 26px;
                width: 44px;
                display: inline-block;
                color: #757575;
                -moz-user-select:none;
            }
            .ShopCart .container .middle .shopitem .ul_list .shuliang .count_container .quantity {
                position: relative;
                bottom: 2px;
                border: none;
                padding-left: 2px;
                width: 82px;
                height: 36px;
                font-size: 18px;
                text-align: center;
            }
            .ShopCart .container .middle .shopitem .ul_list .shuliang .count_container .iconfont:hover {
                background-color: #e0e0e0;
            }
        .ShopCart .container .middle .shopitem .ul_list .caozuo .iconfont {
            display: inline-block;
            line-height: 42px;
            border-radius: 50%;
            width: 42px;
            height: 38px;
            font-size: 30px;
            color: #777;
            -moz-user-select: none;
        }
        .ShopCart .container .middle .shopitem .ul_list .caozuo .iconfont:hover {
          background-color:#ff6720;
          color:#FFFFFF;
        }
/*去结算*/
        .ShopCart .container .bottom .left {
            float: left;
            font-family: KaiTi;
        }
    .ShopCart .container .bottom .right {
        float: right;
        font-family: KaiTi;
    }
    .ShopCart .container .bottom .ul_list li {
        float: left;
        font-family: KaiTi;
        font-size: 19px;
        color: #333;
    }
    .ShopCart .container .bottom .ul_list .return {
        margin-left: 20px;
    }
    .ShopCart .container .bottom .ul_list .return a{
        color:#444;
    }
    .ShopCart .container .bottom .ul_list .return span {   
        margin: 0 12px;
        color: #e0e0e0;
    }
    .ShopCart .container .bottom .ul_list .message span {
        margin: 0 6px;
        color: #ff6700;
    }
    .ShopCart .container .bottom .right li {
        float: left;
    }
    .ShopCart .container .bottom .right .heji {
        width: 190px;
        height:50px;
        font-size: 20px;
        color:#ff6700;
    }
        .ShopCart .container .bottom .right .heji .Amount {
            margin:0 4px;
            font-size: 28px;
        }
 .ShopCart .container .bottom .right .qujiesuan {
    width: 200px;
}
        .ShopCart .container .bottom .right .qujiesuan .jiesuan {
            border:none;
            width: 200px;
            height: 50px;
            color: #b0b0b0;
            font-size: 22px;
            font-family: KaiTi;
            background-color: #e0e0e0;
        }

.ShopCart_Bottom {
    background-color: #F5F5F5;
}
.ShopCart_Bottom .container img {
  width:1226px;
}
/************************************小米底部1*****************************************************/
.footer {
    background-color: #FFFFFF;
    overflow: hidden;
    zoom: 1;
}
    .footer .container .f_c_top {
        height: 82px;
    }

    .footer .container .f_c_main {
        overflow: hidden;
        zoom: 1;
        padding-bottom: 28px;
    }

    .footer .container .f_c_top .ul_list li {
        border-right: 1px solid #e0e0e0;
        width: 172px;
        line-height: 24px;
        margin-top: 30px;
        margin-left: 68px;
        height: 24px;
        float: left;
    }

        .footer .container .f_c_top .ul_list li:first-child {
            margin-left: 54px;
        }

        .footer .container .f_c_top .ul_list li:last-child {
            border-right: none;
        }

        .footer .container .f_c_top .ul_list li a i {
            color: #777;
            font-size: 26px;
            -moz-user-select: none;
        }

        .footer .container .f_c_top .ul_list li a span {
            font-size: 16px;
            color: #666;
        }

    .footer .container .f_hr {
        width: 1226px;
        border-top: 1px solid #e0e0e0;
    }

    .footer .container .f_c_main .ul_list {
        float: left;
        width: 158.2px
    }

        .footer .container .f_c_main .ul_list:last-child {
            float: left;
            border-left: 1px solid #e0e0e0;
            width: 270px;
            text-align: center;
        }

        .footer .container .f_c_main .ul_list li:first-child {
            font-size: 14px;
            color: #555;
        }

        .footer .container .f_c_main .ul_list li a {
            font-size: 12px;
            color: #999;
        }

            .footer .container .f_c_main .ul_list li a:hover {
                color: #ff6720;
            }

        .footer .container .f_c_main .ul_list li:first-child {
            margin: 26px 0px;
        }

        .footer .container .f_c_main .ul_list li {
            margin: 8px 0px;
        }

        .footer .container .f_c_main .ul_list:last-child {
            margin-top: 28px;
            line-height: 16px;
        }

            .footer .container .f_c_main .ul_list:last-child li {
                margin: 0px;
            }

                .footer .container .f_c_main .ul_list:last-child li:first-child {
                    margin-bottom: 12px;
                    font-size: 20px;
                    color: #ff6720;
                }

                .footer .container .f_c_main .ul_list:last-child li:last-child a {
                    display: block;
                    margin: auto;
                    margin-top: 16px;
                    width: 116px;
                    height: 26px;
                    color: #ff6720;
                    font-size: 12px;
                    line-height: 20px;
                    border: 1px solid red;
                }
/**********************************小米底部2**********************************************/
.footer2 {
    background-color: #FAFAFA;
}

    .footer2 .container {
        height: 170px;
    }

        .footer2 .container .f2_c_left {
            float: left;
            width: 770px;
            height: 116px;
        }

        .footer2 .container .f2_c_right {
            float: right;
            width: 452px;
            height: 116px;
        }

        .footer2 .container .f2_c_left ul li {
            float: left;
        }

        .footer2 .container .f2_c_left ul:first-child {
            margin-top: 34px;
        }

        .footer2 .container .f2_c_right ul:first-child {
            margin-top: 34px;
        }

        .footer2 .container .f2_c_left ul li:first-child i {
            text-align: center;
            color: #FFFFFF;
            background-color: #FF6B00;
            font-size: 36px;
            line-height: 56px;
            margin-right: 10px;
            display: block;
            width: 56px;
            height: 56px;
            -moz-user-select: none;
        }

        .footer2 .container .f2_c_left ul:first-child li span {
            display: inline-block;
            color: #b0b0b0;
            margin: 0px 4px;
            -moz-user-select: none;
        }

        .footer2 .container .f2_c_left ul:first-child li a {
            color: #777;
            font-size: 12px;
        }

        .footer2 .container .f2_c_left ul:last-child li a {
            color: #b0b0b0;
            font-size: 12px;
        }

        .footer2 .container .f2_c_left ul:last-child li {
            color: #b0b0b0;
        }

        .footer2 .container .f2_c_left ul li a:hover {
            color: #ff6720;
        }

        .footer2 .container .f2_c_left ul:last-child li {
            margin: 0px 2px;
        }

        .footer2 .container .f2_c_right ul li {
            float: left;
            margin-left: 6.2px;
        }

            .footer2 .container .f2_c_right ul li a img {
                width: 84px;
                height: 22px;
            }

        .footer2 .container .f2_c_bottom h1 {
            font-family: KaiTi;
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            color: #b0b0b0;
            -moz-user-select: none;
        }

a {
    text-decoration: none;
    cursor: pointer;
}